<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Metas_Cotizador.My.MySettings.MetAs_Live_pruebasConnectionString"
            connectionString="Data Source=DATABASESERVER\COMPAC;Initial Catalog=MetAs_Live-pruebas;Persist Security Info=True;User ID=sa;Password=Contpaq1"
            providerName="System.Data.SqlClient" />
        <add name="Metas_Cotizador.My.MySettings.MetasCotizadorConnectionString"
            connectionString="Data Source=SERVER3\COMPAC2;Initial Catalog=MetasCotizador;Persist Security Info=True;User ID=sa;Password=Met99011578a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
